.no-select {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	
	cursor: pointer;
}

.rows {
	display: flex;
	flex-direction: column;
}

.cols {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.box {
	display: inline-block;
}

.overlay {
	position: relative;
}
.overlay > :first-child {
	position: relative;
}
.overlay > * {
	position: absolute;
}
.overlay > .align-left {
	left: 0;
}
.overlay > .align-bottom {
	bottom: 0;
}

.cols > .left{
	justify-content: flex-start;
	align-items: center;
}

.cols > .right {
	justify-content: flex-end;
	align-items: center;
}

.hcenter {
	text-align: center;
}

.vcenter {
	display: flex;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
}

.flex-around {
	display: flex;
	justify-content: space-around;
}

.flex-fill {
	flex-grow: 1;
}

.pill-group {
	display: flex;
	flex-direction: row;
}

/* Animations */
@-webkit-keyframes spin-anim {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin-anim {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.spin-before::before {
	display: inline-block;
	
	-webkit-animation: spin-anim 2s linear infinite;
	-moz-animation: spin-anim 2s linear infinite;
	-ms-animation: spin-anim 2s linear infinite;
	-o-animation: spin-anim 2s linear infinite;
	animation: spin-anim 2s linear infinite;
}
